@{
    ViewData["Title"] = "ViewPassword";
    Layout = "~/Views/_Layout.cshtml";
}


<div class="flex min-h-full md:items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-8">
        <div>
            <img class="mx-auto h-12 w-auto" src="~/logoipsum-262.svg" alt="Your Company">
            <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Secret</h2>
            <p class="mt-2 text-center text-sm text-gray-600">
                Save the following secret to a secure location.
            </p>
        </div>

        <div class="rounded-md shadow-sm">
            <div>
                <label for="password" class="sr-only">Password</label>
<textarea rows="5" id="password-text" name="password-text" readonly="readonly" class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">@Model.Key</textarea>
            </div>
            <div>
                <button title="Copy to clipboard" type="button" id="copy-clipboard-btn" data-clipboard-target="#password-text"
                        data-placement='bottom' class="relative block w-full flex justify-center  appearance-none rounded-none rounded-b-md border border-transparent bg-slate-400 py-2 px-4 text-sm font-medium text-white hover:bg-slate-500 focus:border-slate-500 focus:outline-none focus:ring-slate-500">
                    Copy to clipboard <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="w-3 fill-white inline ml-3"><path d="M192 0c-41.8 0-77.4 26.7-90.5 64H48C21.5 64 0 85.5 0 112V464c0 26.5 21.5 48 48 48H336c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H282.5C269.4 26.7 233.8 0 192 0zm0 128c-17.7 0-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32zm-80 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z" /></svg>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/clipboard_button.js"></script>
