@{
    ViewData["Title"] = "PreviewPassword";
    Layout = "~/Views/_Layout.cshtml";
}



<div class="flex min-h-full md:items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-8">
        <div>
            <img class="mx-auto h-12 w-auto" src="~/logoipsum-262.svg" alt="Your Company">
            <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Secret</h2>
            <p class="mt-2 text-center text-sm text-gray-600">
                You can only reveal this secret once!
            </p>
        </div>

        <div class="mt-1 flex rounded-md shadow-sm">
            <button id="revealSecret" type="button" class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                Reveal secret
            </button>
        </div>
    </div>
</div>

<script src="~/js/preview.js"></script>

