<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share secret</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/clipboardjs/clipboard.js"></script>
</head>
<body class="w-full overflow-hidden rounded-lg ring-1 ring-slate-900/10">
    @RenderBody()
</body>
</html>
